{% extends "base.html" %} 
{% load static %} 
{% block title %}About{% endblock title %} 
{% block content %}

    <!--Main Section--> 
    <main class="py-6 px-8">
        <header class="py-8 px-8 bg-slate-200"> 
            <h1 class="text-3xl">About</h1> 

           <div class="mt-6 space-y-4"> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit repudiandae numquam saepe! Exercitationem soluta vel nulla officia totam iure. Perspiciatis, aut pariatur facere, temporibus quia dolores facilis earum obcaecati odio officiis, voluptas dolorem sit rerum corrupti tenetur alias hic molestiae non velit mollitia. Optio nostrum exercitationem nisi ipsam alias?</p> 
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat voluptas nobis tempora nihil labore quibusdam, ipsam odit, fuga esse necessitatibus sunt sed commodi! Unde eos architecto voluptas vitae eveniet nemo rerum suscipit laborum et sit necessitatibus corrupti quis magnam, aut aliquid exercitationem doloremque? Distinctio soluta dolore molestias labore accusamus vitae.</p>


           </div>
        </header>
    </main> 

{% endblock content %}

