{% extends "base.html" %} 
{% load static %} 
{% block title %}Project Details{% endblock title %} 
{% block content %}

    <!--Main Section--> 
    <main class="py-6 px-8">
        <header class="py-8 px-8"> 
            <h1 class="text-3xl">Task Title</h1> 

            <a class="py-4 px-6 bg-emerald-600 rounded inline-block text-lg text-white mt-4" href="#">Mark As Done</a>  
            <a class="py-4 px-6 bg-sky-600 rounded inline-block text-lg text-white mt-4" href="#">Edit</a>  
            <a class="py-4 px-6 bg-amber-600 rounded inline-block text-lg text-white mt-4" href="#">Delete</a>    

            <div class="mt-10">
                <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iusto, excepturi sint quasi dolorum aliquid maxime doloribus voluptatibus molestiae veniam modi non perspiciatis ab in magni quo expedita repellendus similique est. Culpa id totam molestias! In ipsum facere soluta non esse id est aliquid, voluptas, fuga vero tempora fugit odio.</p>
            </div>
        </header>
    </main> 

{% endblock content %}

   